<div class="container-fluid">
    <div class="well" id="bloc">
        <h1 id="titre">Test de Compatibilite</h1>
        <h3>Merci de votre participation !</h3><br />
        <p>Grâce à vous, nous aidons wikipédia fr à s'enrichir de vos connaissances.<br />
            Cette application est encore en beta test. Nous développerons la partie compatibilité, plus tard...<br />
            A bientôt ! :)</p>
    </div>
</div>
