<script src="https://connect.facebook.net/fr_FR/all.js"></script>
<script language="javascript" type="text/javascript">
  FB.init({
  appId: 454359361303526,
  xfbml: true,
  cookie: true,
  oauth: true
  });
</script>
<div id="fb-root">
  <fb:login-button autologoutlink="true" onlogin="OnRequestPermission();" scope="user_about_me">
  </fb:login-button>
</div >
<div class="container-fluid">
    <div class="well" id="bloc">
        <h1 id="titre">Test de Compatibilite</h1>
        <h3>Voici un petit jeu très simple<br />qui te prendra juste 5 min de ton temps !</h3>
        <h4>On te donne un mot. Le but ? Trouver un autre mot qui le définit.</h4>
	<div id="boutonJeu"><button class="btn btn-large btn-primary" onclick="javascript:window.location='/jeu/debut';">C'est parti !</button></div>
        <br /><h5>Règles du jeu </h5>
        <p>Un mot va s'afficher sur l'écran. Tu dois arriver à le définir avec un seul mot.<br />
        Si tu ne trouves pas, c'est pas grave. Si tu n'écris rien, le mot sera défini comme étant une "chose". Dans ce cas, cliquer sur "OK" revient à passer. Dans ce jeu, tout est "chose", le but c'est de pouvoir indiquer une définition plus précise.<br />
        Si vous pensez qu'il existe une autre définition que celle que vous avez donné, cochez la case juste en dessous.<br />
        Inutile de se presser, on ne calcule pas de scores en fonction du temps. Il est là juste pour éviter que vous ne cherchiez sur le web.</p><br />
    </div>
</div>
